// buttons
.btn
  display: inline-block
  -webkit-apperance: none
  box-shadow: none
  border: 0
  cursor: pointer
  &:focus, &:active
    outline: none

  &--primary
    padding: 7px 25px
    background: $colorPrimary
    color: white

  &--block
    display: block
