// UI ELEMENTS
.ui-input
  margin-bottom: 15px
  label
    display: inline-block
    margin-bottom: 5px
    font-size: .8em
  input
    display: block
    width: 100%
    border: 1px solid $borderColor
    padding: 7px 15px
    transition: all $transitionSpeed $ease
    &:focus
      outline: 1px solid $colorPrimary
      border-color: $colorPrimary
